pkgbase = archlinux-multimedia-control-center
	pkgdesc = Multimedia Control Center for Archlinux
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	depends = scx-scheds
	source = Archlinux Multimedia Control Center.desktop
	source = archlinux_multimedia_control_center
	sha256sums = 98ef9763e0ac35f32929d5abfec72f0492a18439710df5c481ba204cab64f391
	sha256sums = dff969fd610d0bf59dadbbe4496d9ff012ef0c90e270fade88bfc01539ce5803

pkgname = archlinux-multimedia-control-center
