pkgbase = pipewire-control-switch
	pkgdesc = Pipewire and AV application control
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	source = pipewire-control-switch.desktop
	source = pw_control_switch
	sha256sums = 41ff10d3016ec0e8476d37e26b6ed12f52ca117688f9695fbe2287d0603c13ab
	sha256sums = 507ebfbc3bb01b49ab6af6c103d23a504ffb9ff3754c09db863235aa4a55b344

pkgname = pipewire-control-switch
