pkgbase = plogue-plugins
	pkgdesc = Plogue audio plugins, beta Linux port (unofficial support, DO NOT report bugs upstream!)
	pkgver = 1.982.beta3
	pkgrel = 1
	epoch = 1
	url = https://plogue.com
	install = plogue-plugins.install
	arch = x86_64
	groups = pro-audio
	license = custom
	options = !strip
	source_x86_64 = https://chipsounds.s3.us-east-1.amazonaws.com/LINUX_plogue-chipsounds_1.982~beta3_x86_64.zip
	source_x86_64 = https://chipspeech.s3.us-east-1.amazonaws.com/LINUX_plogue-chipspeech_1.982~beta3_x86_64.zip
	source_x86_64 = https://sforzando.s3.us-east-1.amazonaws.com/LINUX_plogue-sforzando_1.982~beta3_x86_64.zip
	sha512sums_x86_64 = 90ced79317888d4231fe389f79225b5d8d6ae945c0cebeb5a22fa0f4144e623f0a93a85e66287526ca719384ca5d183dc79cb84c2673a6c2e59a9718c201d418
	sha512sums_x86_64 = 153b29b176739045b5adeed8cbc9ae43e1ad780e12a346cf92ab08afedcf7a2fbaaa082c8896369f5696da8372936449e0d62c0cb4f66236aabb27c44bcdb7fd
	sha512sums_x86_64 = ea40781b86caf10e5e9e8ec9489310908c283339044b8ea1b2739030ba9c7013dda4efbe51c9ee5eb34964293504ab84cf4802a37afaf0453b2ec3b589c8d235

pkgname = plogue-aria
	depends = gtkmm3
	depends = glib2
	depends = pango
	depends = cairo
	depends = curl
	depends = zenity
	optdepends = libsndfile: Adds support for more audio formats

pkgname = plogue-chipspeech
	depends = plogue-aria

pkgname = plogue-chipsounds
	depends = plogue-aria

pkgname = plogue-sforzando
	depends = plogue-aria

pkgname = plogue-tablewarp2
	depends = plogue-aria
