pkgbase = plogue-plugins
	pkgdesc = Plogue audio plugins, beta Linux port (unofficial support, DO NOT report bugs upstream!)
	pkgver = 1.982.beta6
	pkgrel = 1
	epoch = 1
	url = https://plogue.com
	install = plogue-plugins.install
	arch = x86_64
	groups = pro-audio
	license = custom
	options = !strip
	source_x86_64 = https://chipsounds.s3.us-east-1.amazonaws.com/LINUX_plogue-chipsounds_1.982~beta6_x86_64.zip
	source_x86_64 = https://chipspeech.s3.us-east-1.amazonaws.com/LINUX_plogue-chipspeech_1.982~beta6_x86_64.zip
	source_x86_64 = https://sforzando.s3.us-east-1.amazonaws.com/LINUX_plogue-sforzando_1.982~beta6_x86_64.zip
	sha512sums_x86_64 = feed70428b1ae33b45c7e598830efdd2dbac0a0d27143058724b769e83befdcb8492a633acf317cf943f35d50389b9089fc49addf0b1fff10aa300f0ad2b019e
	sha512sums_x86_64 = 225c4f0de7d07f6c6ad17714a0cc8b36643b895dce3c21896722ee226ffc42219d99a75b1e7865de2c6fcf055162150c5f89cc8aef6c4371e226d0cc9e9369ef
	sha512sums_x86_64 = 263690bc7bd2ba0db9797b42557bda69ae9d5c614d48b5dda9bf6f42834bf1de1e30168750060f2c0846d77fd7ec0fdf8a99fe93545c0c09e8d17fca922fef9b

pkgname = plogue-aria
	depends = gtkmm3
	depends = glib2
	depends = pango
	depends = cairo
	depends = curl
	depends = zenity
	optdepends = libsndfile: Adds support for more audio formats

pkgname = plogue-chipspeech
	depends = plogue-aria

pkgname = plogue-chipsounds
	depends = plogue-aria

pkgname = plogue-sforzando
	depends = plogue-aria

pkgname = plogue-tablewarp2
	depends = plogue-aria
