pkgbase = pipewire-control-switch
	pkgdesc = Pipewire and AV application control
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	source = Pipewire Control Switch.desktop
	source = pw_control_switch
	sha256sums = a8d04a5dc8ebdb21937341e1e769f4b8ebbce26b355aaef98caff07de4836b6a
	sha256sums = 507ebfbc3bb01b49ab6af6c103d23a504ffb9ff3754c09db863235aa4a55b344

pkgname = pipewire-control-switch
