pkgbase = pipewire-control-center
	pkgdesc = Pipewire and AV application control
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = cpupower
	depends = pipewire
	depends = pipewire-jack
	source = Pipewire Control Center.desktop
	source = pipewire_control_center
	sha256sums = f7db1b808aed05d0501414a3519aae10a0c9516af8a51941575a636d6adf68b2
	sha256sums = bc714a4457229cee5031e57c41d2c440db42f99f2b8d7a7972d6ecb9cf889367

pkgname = pipewire-control-center
