[Desktop Entry]
Type=Application
Version=1.0
Name=Pipewire Control Center
Comment=Pipewire and AV application control
Exec=/usr/bin/pw_control_switch
Icon=/usr/share/icons/AdwaitaLegacy/48x48/legacy/system-run.png
Categories=AudioVideo;X-AudioEditing;
Terminal=false
Type=Application
Keywords=Audio;Video;Pipewire;
