pkgbase = pipewire-control-gui
	pkgdesc = Pipewire Session Control
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	depends = scx-scheds
	depends = scx-tools
	source = Pipewire Control GUI.desktop
	source = pipewire-control-gui
	sha256sums = 65fd2ca2d3b3fb8482a1cb030eaccf6c1d5b70501e8b71041334653a7e2387e7
	sha256sums = 9a8e15297ce50dec2ef5172b47a8d0609cdd5c19de4eda1cd1275b77c73a1edd

pkgname = pipewire-control-gui
