pkgbase = pipewire-control-gui
	pkgdesc = Pipewire Session Control
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	source = Pipewire Control GUI.desktop
	source = pipewire-control-gui
	sha256sums = 65fd2ca2d3b3fb8482a1cb030eaccf6c1d5b70501e8b71041334653a7e2387e7
	sha256sums = e87e3a57efb7a270393a8ed9efc22e206d754769d150d165246bad85eddb10bc

pkgname = pipewire-control-gui
