pkgbase = pipewire-control-gui
	pkgdesc = Pipewire Session Control
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/usrmusicman/PKGBUILDS
	arch = x86_64
	license = EULA
	makedepends = git
	depends = pipewire
	depends = pipewire-jack
	depends = scx-scheds
	source = Pipewire Control GUI.desktop
	source = pipewire-control-gui
	sha256sums = 65fd2ca2d3b3fb8482a1cb030eaccf6c1d5b70501e8b71041334653a7e2387e7
	sha256sums = 9533e39f7b368753c7002824f5195695aa914382eda3e8fe7cce96f6bb77d7c5

pkgname = pipewire-control-gui
