pkgbase = grub-autogenerate
	pkgdesc = Autogenerates GRUB menu every hour
	pkgver = 1.1.0
	pkgrel = 2
	url = https://aur.archlinux.org/packages/grub-autogenerate
	arch = x86_64
	license = EULA
	makedepends = git
	depends = grub
	depends = systemd
	provides = grub-btrfs-autogenerate
	conflicts = grub-btrfs-autogenerate
	replaces = grub-btrfs-autogenerate
	source = grub-autogenerate.service
	source = grub-autogenerate.timer
	sha256sums = 73eb6a84e0faac68eae5b62a6225d87b202857e2c0031a00f41a358d5ce430ca
	sha256sums = 9bcf178d033dc301cd2f723661b54caf7d20cc52f1ba69bcd5ed04548d3bb48e

pkgname = grub-autogenerate
