pkgbase = archlinux-deckify-git
	pkgdesc = Modular SteamOS-like session for Arch with centralized configuration and profile templates
	pkgver = r69.78ce13f
	pkgrel = 1
	url = https://github.com/usrmusicman/ArchLinuxDeckify
	install = archlinux-deckify-git.install
	arch = any
	license = GPL
	makedepends = git
	depends = gamemode
	depends = gamescope
	depends = steam
	depends = steam-devices
	depends = bash
	depends = sudo
	depends = scx-scheds
	depends = scx-tools
	depends = pipewire
	depends = iw
	optdepends = nvidia-utils: For Nvidia GPU support
	optdepends = gdm: For automatic login support
	optdepends = lightdm: For automatic login support
	optdepends = lib32-gamemode: For regular gamemode 32-bit support
	optdepends = lib32-nvidia-utils: For Nvidia 32-bit gaming
	optdepends = lib32-vulkan-radeon: For AMD Vulkan 32-bit support
	optdepends = lib32-vulkan-intel: For Intel GPU 32-bit support
	optdepends = plasma-login-manager: For automatic login support
	optdepends = sddm: For automatic login support
	optdepends = xf86-video-amdgpu: For AMD GPU support
	optdepends = vulkan-radeon: For AMD Vulkan support
	optdepends = vulkan-intel: For Intel GPU support
	provides = archlinux-deckify
	conflicts = archlinux-deckify
	source = git+https://github.com/usrmusicman/ArchLinuxDeckify.git
	sha256sums = SKIP

pkgname = archlinux-deckify-git
